<div id="activities">
    <div class="container p-3 mt-4">
        <div class="row">
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/redes.jpg" alt="redes" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Redes Wireless</h5>
                        <p class="card-text">
                            Hacking de redes Wireless. Se comprometera la seguridad de las claves WEP/WPA/WPA2. Se ejecutaran ataques de deautenticacion, ataques CTS, ataques EvilTwin y ataques a WPS entre otros
                        </p>
                        <a href="/redes" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/phishing.jpg" alt="phising" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Phishing</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/hardening.jpg" alt="hardening" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hardening</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/igathering.jpg" alt="igathering" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Information Gathering</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/information-gathering" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/analisis.jpg" alt="analisis" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Escaneo y Analisis de vulnerabilidades</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/explotacion.jpeg" alt="explotacion" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Explotacion de vulnerabilidades</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mt-4">
                <div class="index-card card" style="width: 18rem;">
                    <img style="height: 11rem;" src="images/post.jpg" alt="explotacion" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Post-Explotacion</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae id iste perspiciatis beatae eveniet quidem illum quae aut iure libero perferendis, eius vel corrupti similique? Quisquam, quo! Animi, nam harum.</p>
                        <a href="/" class="btn btn-primary">Aprender!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>