<div class="footer-text-container">
   <div>
    <h2>¿Estamos en contacto?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, cupiditate dicta accusamus sequi possimus iure perspiciatis est nihil consequuntur distinctio nemo quo sint porro nobis mollitia harum, rem saepe velit. Vero tempora nobis iure rem odit tempore voluptatem ducimus explicabo?</p>
   </div>
</div>
<div class="footer-container">

    <div class="footer-container-2">
        <a href="mailto:robertomoralesfumero@gmail.com">
            <img src="images/gmail.png" alt="gmail">
        </a>
        <a href="https://www.linkedin.com/in/roberto-morales-fumero-5186891a8/" target="_blank">
            <img src="images/linkedin.png" alt="linkedin">
        </a>
        <a href="https://github.com/RoberVF" target="_blank">
            <img src="images/github.png" alt="github">
        </a>
    </div>
</div>