<!-- <header class="bg-light p-4 border rounded sticky-top container mt-4 d-flex justify-content-between align-items-center">

    <a href="/" class="text-decoration-none navbar-brand">Guia Tecnicas Hacking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="d-flex">

        <div class="dropdown mr-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tecnicas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a href="/information-gathering" class="dropdown-item">Information Gathering</a>
                <a class="dropdown-item">Escaneo y Analisis</a>
                <a class="dropdown-item">Explotacion</a>
                <a class="dropdown-item">Post-explotacion</a>
                <hr>
                <a href="/redes" class="dropdown-item">Redes</a>
                <a class="dropdown-item">Social Engineering</a>
                <a class="dropdown-item">Hardening</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Herramientas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item">Nmap</a>
                <a class="dropdown-item">Git</a>
                <a class="dropdown-item">Malduino</a>
                <a class="dropdown-item">Diccionarios</a>
                <a class="dropdown-item">John The Ripper</a>
                <a class="dropdown-item">GoLismero</a>
                <a class="dropdown-item">Aircrack-ng</a>
                <a href="/herramientas/#bettercap" class="dropdown-item">Bettercap</a>
                <!--Networking. ARP Poisoning
                <a href="/herramientas/#macchanger" class="dropdown-item">Macchanger</a> Introduccion networking
            </div>
        </div>
    </div>

</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Guia Hacking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/redes">Redes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phising</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hardening</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tecnicas
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/information-gathering" class="dropdown-item">Information Gathering</a>
            <a class="dropdown-item">Escaneo y Analisis</a>
            <a class="dropdown-item">Explotacion</a>
            <a class="dropdown-item">Post-explotacion</a>
        </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Herramientas
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item">Nmap</a>
                <a class="dropdown-item">Git</a>
                <a class="dropdown-item">Malduino</a>
                <a class="dropdown-item">Diccionarios</a>
                <a class="dropdown-item">John The Ripper</a>
                <a class="dropdown-item">GoLismero</a>
                <a class="dropdown-item">Aircrack-ng</a>
                <a href="/herramientas/#bettercap" class="dropdown-item">Bettercap</a>
                <!--Networking. ARP Poisoning -->
                <a href="/herramientas/#macchanger" class="dropdown-item">Macchanger</a> <!-- Introduccion networking -->
            </div>
          </li>
      </ul>

    </div>
  </nav>