<header class="bg-light p-4 border rounded sticky-top container mt-4 d-flex justify-content-between align-items-center">

    <h1><a href="/" class="text-decoration-none">Guia Tecnicas Hacking</a></h1>
    <div class="d-flex">
        <div class="dropdown mr-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tecnicas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a href="/information-gathering" class="dropdown-item">Information Gathering</a>
                <a class="dropdown-item">Escaneo y Analisis</a>
                <a class="dropdown-item">Explotacion</a>
                <a class="dropdown-item">Post-explotacion</a>
                <hr>
                <a href="/redes" class="dropdown-item">Redes</a>
                <a class="dropdown-item">Social Engineering</a>
                <a class="dropdown-item">Hardening</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Herramientas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item">Nmap</a>
                <a class="dropdown-item">Git</a>
                <a class="dropdown-item">Malduino</a>
                <a class="dropdown-item">Diccionarios</a>
                <a class="dropdown-item">John The Ripper</a>
                <a class="dropdown-item">GoLismero</a>
                <a class="dropdown-item">Aircrack-ng</a>
                <a href="/herramientas/#bettercap" class="dropdown-item">Bettercap</a>
                <!--Networking. ARP Poisoning-->
                <a href="/herramientas/#macchanger" class="dropdown-item">Macchanger</a> <!--Introduccion networking-->
            </div>
        </div>
    </div>

</header>