<!DOCTYPE html>
<html lang="en">
<%- include('utils/head') %>

    <body>
        <%- include('utils/navbar') %>

            <div class="container">

                <h2>INDEX.EJS</h2>
                <p>guia para tecnicas de hacking</p>
            </div>



    </body>

</html>