<!DOCTYPE html>
<html lang="en">
<%- include('utils/head') %>

    <body>
        <%- include('utils/navbar') %>

            <div class="container">

                <h2>Pulse sobre tecnicas. Solo hay algunas disponibles</h2>
                <p>Guia en desarrollo</p>
            </div>



    </body>

</html>