<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/index.css">

<%- include('utils/head') %>

    <body class="body-color">
        <%- include('utils/navbar') %>

            <header class="main-container">
                <div class="sub-main-container">
                    <div class="pres-container">
                        <p>Hola, me llamo</p>
                    </div>
                    <div class="name-container">
                        <div class="name">
                            <h2><strong>Roberto </strong>Morales Fumero</h2>
                        </div>
                    </div>
                    <div class="title-container">
                        <h3>Y he creado esta guía sobre el <strong>Hacking</strong></h3>
                    </div>
                    <div class="text-container">
                        <p><i>Guía Hacking</i> es un proyecto destinado a principiantes que comienzan en la seguridad
                            informática y el hacking.
                            Aquí encontraras un gran número de ataques para poder llevarlos acabo y defenderte de ellos.
                            <i><strong>No me hago
                                responsable del mal uso que se pueda proporcionar a lo aprendido en esta guía.
                           </strong></i>
                        </p>
                    </div>
                    <div class="button-container">
                        <a href="/#activities">Explorar</a>
                    </div>
                </div>

            </header>

            <%- include('utils/activities') %>
            <section class="footer">
                <%- include('utils/footer') %>
            </section>
            <div class="d-flex align-items-center justify-content-center">
                <small style="color: var(--blue); font-weight:400; margin-bottom:1rem;">Developed by Roberto Morales, 2021</small>
            </div>


    </body>

</html>