* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  --main: #222831;
  --second-main: #3F4752;
  --secondary: #393e46;
  --blue: #00adb5;
  --white: #eeeeee;
  --negro: rgba(33, 37, 41, 0.3);
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

.navbar-menu {
  background-color: var(--secondary) !important;
}
